mixin guarantees()
	section.guarantees&attributes(attributes)
		.guarantees__in
			h2.guarantees__title Гарантия
			.guarantees__row-w
				.guarantees__row
					.guarantees__col(data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease" data-aos-offset="-150")
						.guarantees__text
							p Сайт <strong>hackgames</strong> открылся относительно недавно, по этой причине нашей главной целью на данный момент является - зарекомедовать себя с лучшей стороны на рынке приватного софта. Мы разработали уникальную систему отзывов, Вы всегда сможете ознакомиться с тем, что думают о данном софте уже купившие его люди.
					.guarantees__col(data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease" data-aos-offset="-150")
						.guarantees__text
							p Команда проекта заинтересована в увеличении потенциальной аудитории и старается обеспечить максимальную защиту трейнеров от разного вида анти-читов на разных игровых площадках: Steam/Origin. В отличии от подобных читерских порталов, мы прикладываем все усилия для того, чтобы Вы остались довольны.

						.guarantees__note
							.guarantees__note-w С уважением, Администрация сайта <span>hackgames.su</span>
