mixin section()
	section.section&attributes(attributes)
		.section__in(data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease" data-aos-offset="-50")
			.section__social.section__social_youtube
				.section__social-top
					.section__title <span>наш канал</span> на youtube
					.section__social-subscribe
						img(src="assets/images/content/youtube-subscribe.jpg", alt="")
				.section__social-body
					.section__social-player
						img(src="assets/images/content/youtube-player.jpg", alt="")

			.section__social.section__social_vk
				.section__title <span>наша группа</span> вконтакте
				.section__social-body
					img(src="assets/images/content/vk-widget.jpg", alt="")
