mixin what()
	section.what&attributes(attributes)
		.what__in(data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease" data-aos-offset="-50")
			figure.what__image
				img(src="assets/images/content/what-img.jpg", alt="")
				figcaption.what__image-caption <strong>Приватные читы</strong> - это читерский софт, предназначенный для узкого круга пользования.
			.what__w
				h2.what__title Что такое <span>приватные читы?</span>
				p.what__text Такого рода читы отличаются наличием уникального функционала, качественным обходом систем анти-чита и защитой, которую Вы нигде не встретите. Продукт тестируется несколько раз перед публикацией в продажу и имеет ряд возможностей, которых нет в бесплатных читах. Получить бан игрового аккаунта за приватный софт намного сложнее, нежели за пабликовский, по причине слаженной и оперативной работы команды кодеров, которые незамедлительно выпустят обновление во избежании детекта чита. Выбирая наш приватный софт, Вы обеспечиваете себе не только комфортную игру, а также значительную доминацию в игровом процессе, но и отличную защиту от блокировки аккаунта.
