@css {

	@font-face {
		font-family: 'Roboto-Medium';
		src: url('../fonts/hinted-subset-Roboto-Medium.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Medium.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Black';
		src: url('../fonts/hinted-subset-Roboto-Black.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Black.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Regular';
		src: url('../fonts/hinted-subset-Roboto-Regular.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Bold';
		src: url('../fonts/hinted-subset-Roboto-Bold.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Bold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Light';
		src: url('../fonts/hinted-subset-Roboto-Light.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Light.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Panton-BlackItalic';
		src: url('../fonts/hinted-subset-Panton-BlackItalic.woff2') format('woff2'),
			url('../fonts/hinted-subset-Panton-BlackItalic.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'FenomenSans-SCNBlack';
		src: url('../fonts/hinted-subset-FenomenSans-SCNBlack.woff2') format('woff2'),
			url('../fonts/hinted-subset-FenomenSans-SCNBlack.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

}


$rL = "Roboto-Light", Arial,"Helvetica Neue",Helvetica,sans-serif
$rR = "Roboto-Regular", Arial,"Helvetica Neue",Helvetica,sans-serif
$rM = "Roboto-Medium", Arial,"Helvetica Neue",Helvetica,sans-serif
$rBld = "Roboto-Bold", Arial,"Helvetica Neue",Helvetica,sans-serif
$rB = "Roboto-Black", Arial,"Helvetica Neue",Helvetica,sans-serif
$pBI = "Panton-BlackItalic", Arial,"Helvetica Neue",Helvetica,sans-serif
$fS = "FenomenSans-SCNBlack", Arial,"Helvetica Neue",Helvetica,sans-serif
