mixin buy()
	section.buy&attributes(attributes)
		.buy__in
			h1.buy__title(data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease" data-aos-offset="300") Купить читы
			.buy__carousel.carousel
				ul.buy__list.carousel__list
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-1.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 490
									//- .buy__price-old 500
								.buy__bottom-col
									.buy__item-title War Thunder
									.buy__time 1 месяц
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								.buy__badge
									.buy__badge-text
										span 20%
										| скидка
								img(src="assets/images/content/game-img-2.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 345
									.buy__price-old 500
								.buy__bottom-col
									.buy__item-title PlayerUnknown's Battlegrounds
									.buy__time 1 месяц
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-3.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 1490
									//- .buy__price-old 500
								.buy__bottom-col
									.buy__item-title GTA V:Online
									.buy__time 1 месяц
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-4.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 390
									//- .buy__price-old 500
								.buy__bottom-col
									.buy__item-title CS:GO
									.buy__time 1 месяц

					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-1.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 490
									//- .buy__price-old 500
								.buy__bottom-col
									.buy__item-title War Thunder
									.buy__time 1 месяц
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-2.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 345
									.buy__price-old 500
								.buy__bottom-col
									.buy__item-title PlayerUnknown's Battlegrounds
									.buy__time 1 месяц
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-3.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 1490
									//- .buy__price-old 500
								.buy__bottom-col
									.buy__item-title GTA V:Online
									.buy__time 1 месяц
					li.buy__item
						a.buy__link(href="#link")
							figure.buy__image
								img(src="assets/images/content/game-img-4.jpg", alt="game title")
							.buy__bottom
								.buy__bottom-col
									.buy__price 390
									//- .buy__price-old 500
								.buy__bottom-col
									.buy__item-title CS:GO
									.buy__time 1 месяц
