mixin footer()
	footer.footer&attributes(attributes)
		.footer__in
			.footer__col.footer__col_first
				ul.footer__legal
					li.footer__legal-item
						a.footer__legal-link(href="#") Пользовательское соглашение
					li.footer__legal-item
						a.footer__legal-link(href="#") Политика конфиденциальности

				ul.footer__social.social
					li.social__item.social__item_1
						a.social__link(href="#") Vk
					li.social__item.social__item_2
						a.social__link(href="#") Youtube
					li.social__item.social__item_3
						a.social__link(href="#") Google plus
					li.social__item.social__item_4
						a.social__link(href="#") Telegram
			.footer__col.footer__col_second
				a.footer__logo(href="#link") hackgames.su
				.footer__copyright Все права защищены &copy; 2018
